<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='public/css/home.css' type='text/css' />
    <title>Document</title>
</head>
<body>

    <!-- Mozesz zaimplementować własną gre(zbierz słówka z rz-ż, ch-h, ó-u oraz pratykułą nie, losuj jeden przykład i wdg instrukcji warunkowej generuj mozliwosci odpowiedzi) -->
    <h1 class="header">Ortografija</h1> <div class="punkty"></div>

    <button class="logOut">Wyloguj</button>
    <div class="buttons">
    <button class="blok rz">Rz Ż</button>
    <button class="blok ó">Ó U</button>
    <button class="blok ch">Ch H</button>
    <button class="blok nie">Partykuła nie</button>
    <div style="display: block;"></div>
    <button class="blok graj">Graj</button>
    </div>


    <div id='Rz Ż' class="ż board">
        <div class='teory1'>
        <pre>
        <span><strong>Pisownia Rz-Ż:</strong></span>

        <strong>Rz</strong> piszemy, gdy w wyrazach wymienia się na r, np.:
 
        rowerzysta - rower,
        na komputerze - komputer,
        dworzec - dworca.
         
        <strong>Rz</strong> piszemy w zakończeniach wyrazów:
       
        -arz
        -erz
        -mierz
        -mistrz

        np.:
         
        bramkarz, pisarz,
        harcerz, rycerz,
        ciśnieniomierz, Sandomierz,
        burmistrz, zegarmistrz.
         
        <strong>Rz</strong> piszemy po spółgłoskach: <strong>b, p, d, t, g, k, ch, j, w, np</strong>.:
         
        brzeg, brzoza,
        przebój, sprzedawca,
        drzewo, modrzew,
        trzeba, patrzeć,
        grzyb, pielgrzym,
        chrzan, chrząszcz,
        spojrzeć, ujrzeć,
        wrzesień, wrzeciono.
        </pre>
        </div>
        <div class="teory2">
        <pre>
        <strong>Wyjątki:</strong>
        
        wyrazy: bukszpan, gżegżółka, kształt, kszyk (nazwa ptaka),
        piegża (nazwa ptaka), pszczoła, Pszczyna, pszenica, pszenżyto,
        w przymiotnikach zakończonych na: - szy, - ejszy, np.: lepszy, nowszy,
        najlepszy, najnowszy, ładniejszy, mocniejszy, najładniejszy,
        najmocniejszy. <strong>Ż</strong> piszemy, gdy wymienia się w innych formach tego 
        samego wyrazu lub w innych wyrazach na: <strong>g, dz, h, z, ź, s</strong>
         
        np.:
         
        książka - księga,
        wstążka - wstęga,
         
        mosiężny - mosiądz,
        pieniążek - pieniądz,
         
        drużyna - druh,
        watażka - wataha,
         
        każę (coś zrobić) - kazać,
        mażę (po czymś) - mazać,
         
        przerażenie - przerazić,
        zamrażać - mroźny, mróz,
         
        bliżej - blisko,
        niżej - nisko.
        </pre>
        </div>
        <div class="teory3"> 
        <pre>
        <strong>Ż</strong> piszemy po literach: <strong>l, ł, r, n,</strong>
         
        np.:
         
        lżej, ulżyć,
        małże, małżeństwo,
        rżysko, rżenie,
        rewanż, oranżada.
        </pre>
        </div>
    </div>
    <div id='Ó U' class="u board">
        <div class="teory4">
        <pre>
        <span><strong>Pisownia Ó-U:</strong></span>

        <strong>U</strong> piszemy w zakończeniach rzeczowników:

        un
        unek
        uchna
        uszka
        uszek
        uch
        us
        usia
        zwiastun, podaruek, córuchna, staruszka, łańcuszek, maluch,
        raptus, mamusia.

        <strong>U</strong> piszemy w czasownikach zakończonych na:

        uj
        ujesz
        uje
        np.: maluję, malujesz, maluje, wędruję, wędrujesz, wędruje.

        <strong>U</strong> piszemy w czasownikach typu: czuć, kuć, kłuć, pruć, snuć,
        np.: czuje, kuję, kłuję pruję, snuję.
        </pre>
        </div>
        <div class="teory5">
        <pre>
        <strong>Ó</strong> piszemy, gdy wymienia się w innych formach tego samego wyrazu lub 
        w innych wyrazach na: o, e, a

        np.:
        
        stół - stoły
        wiózł - wiozę
        trójka - troje
        
        przyjaciółka - przyjaciel
        niósł - niesie
        siódmy - siedem
        
        skrót - skracać
        mówić - mawiać
        powtórzyć - powtarzać
        <strong>Ó</strong> piszemy w wyrazach zakończonych na: - ów, np.:
        
        Julianów
        Tarłów
        Opatów
        z lasów
        chłopców

        <strong>Ó</strong> piszemy w wyrazach zakończonych na: - ówka, np.:
        
        łamigłówka
        pocztówka
        złotówka
        
        <strong>Wyjątki:</strong> skuwka, wsuwka, zasuwka.

        <strong>Ó</strong> piszemy w wyrazach zakończonych na: - ówna, np.:
        
        Nowakówna
        Kucówna

        <strong>Ó</strong> piszemy na początku wyrazów: ósemka, ósmy, ów,
        ówczesny, ówcześnie, ówdzie.
        </pre>
        </div>
    </div>
    <div id='Ch H' class="h board">
        <div class="teory6">
        <pre>
        <span><strong>Pisownia Ch-H:</strong></span>

        <strong>Ch</strong> piszemy, gdy wymienia się w innych formach tego samego wyrazu lub 
        w innych wyrazach na: sz
 
        np.:
        
        mucha - muszka,
        wydmuchać - wydmuszka,
        trochę - troszkę,

        <strong>Ch</strong> piszemy po literze s np.: schab, schody, wschód.

        <strong>Ch</strong> piszemy na końcu wyrazów, np.: na drogach, orzech, zuch.
        </pre>
        </div>
        <div class="teory7">
        <pre>
        <strong>Wyjątki:</strong> druh, Boh (nazwa rzeki).
        </pre>
        </div>
        <div class="teory8">
        <pre>
        <strong>H</strong> piszemy, gdy wymienia się w innych formach tego samego wyrazu lub 
        w innych wyrazach na: g, ż, z, dz,

        np.:
        
        wahać się - waga,
        druh - drużyna,
        błahy - błazen
        </pre>
        </div>
    </div>
    <div id='Partykuła nie' class="tak board">
        <div class="teory9">
        <pre>
        <span><strong>Pisownia Partykuły nie:</strong></span>

            Partykułę nie piszemy łącznie:

        z rzeczownikami, np. niebezpieczeństwo, niedokładność,
        nieprzyjaciel, niezorganizowanie,
        
        <strong>ale:</strong> partykułę nie z nazwami własnymi piszemy łącznie z łącznikiem,
        np. nie-Polak, nie-Europejczyk,

        <strong>ale:</strong> nie chrześcijanin, lecz prawosławny;
         
        z przymiotnikami, np. niedrogi, niemiły, niejasny, niesłony,
         
        <strong>ale:</strong> nie Szekspirowski (dramat),
        <strong>ale:</strong> nie warszawski, lecz poznański,
        <strong>ale:</strong> nie gorszy;
         
        z imiesłowami przymiotnikowymi (czynnymi i biernymi), użytymi w
        znaczeniu przymiotnikowym i czasownikowym, np. nieoceniony człowiek 
        (bezcenny, zasługujący na najwyższą ocenę), spektakl nieoceniony
        jeszcze przez krytyków (= taki, którego nie oceniono),
        nieopisane trudności (niedające się opisać),
        podróże nieopisane w pamiętniku (takie, których nie opisano).
         
        
        Gdy imiesłów użyty jest w znaczeniu czasownikowym,
        dopuszczalne jest stosowanie pisowni rozdzielnej.
        </pre>
        </div>
        <div class="teory10">
        <pre>
        <strong>Wyjątki:</strong>
         
        zawsze stosuje się pisownię rozdzielną w wyraźnych przeciwstawieniach,
        np. nie leżący, ale siedzący, siedzący, a nie leżący.
         
        W konstrukcjach, których ośrodkiem jest spójnik ani lub ni,
        np. nie piszący ani nie czytający, czasem powtórzony,
        np. ani nie piszący, ani nie czytający.
         
        z przysłówkami utworzonymi od przymiotników, 
        np. niedrogo, nieładnie, niełatwo, niemile
        </pre>
        </div>
    </div>
    <div id='Graj' class="gra board">
        
    </div>

    <script src='public/js/home.js' type='module'></script>
</body>
</html>